body, form, h1, h2, h3 {
	margin: 0;
	padding: 0
}

.filters, .nav {
	list-style: none
}

body {
	font: 12px Tahoma;
	color: #333;
	background: #ebeef1
}

img {
	border: none
}

a {
	color: #d80405;
	text-decoration: none
}

a:hover {
	text-decoration: underline
}

.labelsmall {
	font: 700 10px Arial
}

.signupbox, .signupboxtext {
	font: 400 12px arial;
	color: #555
}

.bodyColor {
	background: url(../image/back.jpg) top center no-repeat;
	width: 100%;
	height: 100%
}

.signupbox {
	margin: 20px auto 0;
	padding: 0;
	background: #fff;
	border: 1px solid #d0d0d0;
	border-radius: 5px;
	-webkit-box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, .75);
	-moz-box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, .75);
	box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, .75)
}

.signupbox h4 {
	margin: 0;
	padding: 0;
	font: 700 14px Tahoma;
	color: #555
}

.signup-headingbg {
	background: url(../image/signup-headingbg.jpg) repeat-x;
	height: 41px
}

.signup-headingbg2 {
	background-color: #f2f1f2;
	height: 60px;
	border-bottom: 1px solid #dadada;
	vertical-align: middle
}

.signupbox a {
	font: 400 12px arial;
	color: #468bd8;
	line-height: 22px;
	text-decoration: none
}

.signupbox a:hover {
	color: #d20404
}

.signuptextfield {
	display: block;
	width: 95%;
	height: 25px;
	padding: 6px 7px;
	padding: 6px\9;
	font-size: 12px;
	font-family: 'Titillium Web', sans-serif;
	line-height: 1.428571429;
	color: #555;
	margin-bottom: 5px;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow
		ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.signuptextfieldicon, .signuptextfieldsml {
	width: 95%;
	font-size: 12px;
	line-height: 1.428571429;
	color: #555;
	margin-bottom: 5px;
	background-color: #fff;
	background-image: none;
	-webkit-transition: border-color ease-in-out .15s, box-shadow
		ease-in-out .15s;
	display: block;
	font-family: 'Titillium Web', sans-serif
}

.signuptextfieldsml {
	height: 20px;
	padding: 6px 7px;
	padding: 6px\9;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.signuptextfield:focus, .signuptextfieldsml:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6)
}

.signuptextfieldicon {
	height: 25px;
	padding: 6px 7px;
	padding: 6px\9;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	text-indent: 38px
}

.signuptextfieldicon:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6)
}

.signupbutton {
	border: 1px solid #f81213;
	width: 100%;
	padding: 10px;
	font: 700 14px Tahoma;
	color: #fff;
	cursor: pointer;
	border-radius: 5px
}

.redsmalltext {
	font: 400 11px arial;
	color: red
}

.black9 {
	font: 700 9px Verdana;
	color: #333
}

.bluelink {
	font: 400 13px Arial;
	color: #06c;
	text-decoration: none
}

.bluelinkbig {
	font: 400 16px Arial;
	color: #06c;
	text-decoration: underline
}

.bluelinkbig:hover {
	font: 400 16px Arial;
	color: #c90808;
	text-decoration: none
}

.errorMessage {
	font: 400 11px arial;
	color: red
}

span .actionMessage, span .actionMessage li {
	color: #468847;
	background-color: #dff0d8;
	font-size: 12px;
	padding: 7px;
	text-align: center;
	list-style-type: none
}

span .actionMessage li {
	border-color: #d6e9c6
}

span .actionMessage {
	border: 1px solid #d6e9c6;
	border-radius: 4px;
	width: 98%;
	margin: -2px auto 5px;
	height: 25px
}

.actionMessage {
	padding: 0;
	border: 1px solid transparent;
	border-radius: 4px;
	width: 98%;
	margin: 15px auto 0;
	height: 25px
}

.actionMessage li {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	border-radius: 4px;
	text-align: center;
	list-style-type: none;
	font-size: 14px;
	padding: 6px 0
}

.text1 {
	font: 400 12px Arial;
	color: #545454;
	text-decoration: none
}

a.text1:hover {
	font: 400 12px Arial;
	color: red;
	text-decoration: underline
}

#page-content .acordion-gray {
	background: url(../image/acord-plus.jpg) top left no-repeat;
	width: 100%;
	float: left;
	cursor: pointer;
	font: 700 12px verdana;
	color: #fff;
	height: 27px;
	padding: 9px 0 0;
	margin: 0
}

#page-content .acordion-gray:hover {
	background: url(../image/acord-plus.jpg) top left no-repeat;
	color: #616161;
	font: 700 18px verdana;
	cursor: pointer
}

#page-content .acodion-gray:hover h4, #page-content .acordion-gray h4,
	#page-content .acordion-open h4 {
	font: 700 12px verdana;
	text-align: left;
	cursor: pointer;
	color: #333
}

#page-content .acordion-gray h4 {
	display: block;
	margin: 0;
	padding: 0;
	text-indent: 40px
}

#ActionDiv, .hide-this {
	display: inherit;
	float: left
}

#page-content .acordion-open, #page-content .acordion-open:hover {
	background: url(../image/acord-minus.jpg) top left no-repeat;
	color: #333;
	width: 100%;
	float: left;
	font: 400 12px Arial;
	cursor: pointer
}

#page-content ul.indent {
	padding-left: 10px;
	font: 12px arial;
	color: #333
}

#page-content #br {
	clear: both;
	padding-top: 10px
}

#ActionDiv {
	width: 100%;
	background: 0 0
}

#BankDetailsDiv, #BusinessDetailsDiv, #ContactDetailsDiv,
	#DocumentDetailsDiv, #DocumentDetailsDiv1, #LogoDiv,
	#MerchantDetailsDiv, #SmartRouterDiv, #copy10, #copy11, #copy12,
	#copy13, #copy14, #copy15, #copy16, #copy17, #copy18, #copy19, #copy20,
	#copy8, #copy9 {
	display: none;
	width: 100%;
	float: left;
	background: 0 0;
	font: 12px arial;
	color: #333
}

.nav>li, .nav>li>a {
	display: block;
	position: relative
}

.pagehead {
	font: 700 12px verdana;
	color: #333;
	text-decoration: none;
	padding: 0 0 0 15px;
	-moz-padding-start: 4%
}

.txtnew {
	font: 400 13px arial;
	color: #333;
	text-decoration: none
}

.labelfont, fieldset legend {
	color: #000;
	text-decoration: none
}

.labelfont {
	font: 700 11px Arial
}

fieldset legend {
	font: 700 13px Arial;
	background: #ecf4fe
}

.formbox {
	background: #fff;
	border: 1px solid #e4e4e4;
	width: 100%;
	padding: 0
}

.borderbox {
	border: 1px solid #e4e4e4 !important;
	padding: 0
}

.boxheading {
	background: #39c6f0;
	color: #fff;
	font: 700 16px Arial;
	padding-left: 10px;
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-size: 5px 5px
}

.greyroundtble, .whiteroundtble {
	border-radius: 7px;
	color: #636363
}

.boxheadingsmall {
	background: linear-gradient(60deg, #425185, #4a9b9b);
	font-size: 12px
}

.greyroundtble {
	background: #f2f2f2;
	padding: 10px
}

.whiteroundtble {
	background: #fff;
	padding: 0
}

.nav {
	padding-left: 0;
	margin-bottom: 0
}

.nav>li>a {
	padding: 10px 15px
}

.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	background-color: #eee
}

.nav>li.disabled>a {
	color: #777
}

.nav>li.disabled>a:focus, .nav>li.disabled>a:hover {
	color: #777;
	text-decoration: none;
	cursor: not-allowed;
	background-color: transparent
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: #eee;
	border-color: #337ab7
}

.nav .nav-divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5
}

.nav>li>a>img {
	max-width: none
}

.nav-tabs {
	border-bottom: 1px solid #ddd
}

.nav-tabs>li {
	float: left;
	margin-bottom: -1px
}

.nav-tabs>li>a {
	background-color: #fcfcfc;
	margin-right: 5px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-bottom: 1px solid #ddd;
	border-radius: 4px 4px 0 0;
	color: #999;
	font: 400 13px Arial;
	border-top: 5px solid transparent
}

.nav-tabs>li>a:hover {
	border-color: #eee #eee #ddd;
	background-color: #ecf4fe;
	border-top: 5px solid transparent
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
	{
	color: #333;
	cursor: default;
	background: #fff;
	font: 700 13px Arial;
	padding-left: 10px;
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-size: 5px 5px;
	border: 1px solid #ddd;
	border-top: 5px solid #2ea3f2;
	border-bottom-color: transparent;
	outline: 0
}

.tab-content>.tab-pane {
	display: none;
	border: 1px solid #dadada;
	height: auto;
	background-color: #fff
}

.tab-content>.active {
	display: block
}

.nav-tabs .dropdown-menu {
	margin-top: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0
}

.categories {
	font: 12px Arial;
	color: #869198
}

.categories a {
	font: 700 12px Arial;
	color: #869198;
	text-decoration: none
}

.categories a:hover {
	text-decoration: underline;
	color: #869198
}

.greenrefundbtn {
	background-color: #7fbf4d;
	border: 1px solid #63a62f;
	border-bottom: 1px solid #5b992b;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
	-moz-box-shadow: inset 0 1px 0 0 #96ca6d;
	box-shadow: inset 0 1px 0 0 #96ca6d;
	color: #fff;
	font: 700 11px Tahoma;
	line-height: 1;
	padding: 3px 0;
	text-align: center;
	width: 60px
}

.grayrefundbtn {
	background-color: #606060;
	border: 1px solid #606060;
	border-bottom: 1px solid #606060;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 0 #606060;
	-moz-box-shadow: inset 0 1px 0 0 #96ca6d;
	box-shadow: inset 0 1px 0 0 #606060;
	color: #fff;
	font: 700 11px Tahoma;
	line-height: 1;
	padding: 3px 0;
	text-align: center;
	width: 60px
}

.greenrefundbtn:hover {
	background-color: #76b347;
	-webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
	-moz-box-shadow: inset 0 1px 0 0 #8dbf67;
	box-shadow: inset 0 1px 0 0 #8dbf67;
	cursor: pointer
}

table.product-spec {
	border: 1px solid #eaeaea;
	border-bottom: 1px solid #dedede;
	font-family: Arial, Helvetica, sans-serif;
	background: #eee
}

table.product-spec td, table.product-spec th {
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede
}

table.product-spec th {
	font-size: 12px;
	font-weight: 700;
	padding: 5px;
	background: linear-gradient(60deg, #425185, #4a9b9b);
	color: #fff
}

table.product-spec td {
	font-size: 11px;
	padding: 20px;
	background-color: #fff
}

table.product-spec td p {
	font: 400 10px Arial;
	color: #6f6f6f;
	padding: 0;
	margin: 0;
	line-height: 12px
}

table.invoicetable {
	border: 1px solid #eaeaea;
	border-bottom: 1px solid #dedede;
	font-family: Arial, Helvetica, sans-serif;
	background: #eee;
	margin: 5px
}

table.invoicetable td, table.invoicetable th {
	padding: 3px;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede
}

table.invoicetable th {
	font-size: 12px;
	font-weight: 700;
	background-color: #ccdce7;
	color: #444d9c
}

table.invoicetable td {
	font: 400 12px Arial;
	background-color: #fff
}

table.invoicetable td p {
	font: 400 10px Arial;
	color: #6f6f6f;
	padding: 0;
	margin: 0;
	line-height: 12px
}

table.product-specbig {
	border: 1px solid #e5eff8;
	border-bottom: 1px solid #e5eff8;
	font-family: Arial, Helvetica, sans-serif;
	background: #fff
}

table.product-specbig th {
	font-size: 14px;
	font-weight: 700;
	padding: 7px;
	border-right: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	background-color: #2ea3f2;
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-size: 7px 7px;
	color: #fff
}

table.product-specbig td {
	font-size: 12px;
	padding: 12px 5px;
	border-right: 1px solid #e5eff8;
	border-bottom: 1px solid #e5eff8
}

table.product-specbig td p {
	font: 400 10px Arial;
	color: #6f6f6f;
	padding: 0;
	margin: 0;
	line-height: 12px
}

table.product-specbigstripes {
	margin: 0 auto;
	border: 4px solid #bdbdbd;
	border-radius: 10px;
	width: 60%;
	border-collapse: separate;
	border-spacing: 2px 2px 2px 2px;
	font-family: Arial, Helvetica, sans-serif;
	background: #fff
}

table.product-specbigstripes th {
	font-size: 14px;
	font-weight: 700;
	padding: 7px;
	border-right: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	background-color: #2ea3f2;
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-size: 7px 7px;
	color: #fff
}

table.product-specbigstripes td {
	font-size: 12px;
	padding: 12px 5px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd
}

table.product-specbigstripes td p {
	font: 400 10px Arial;
	color: #6f6f6f;
	padding: 0;
	margin: 0;
	line-height: 12px
}

table.product-specbigstripes .borderleftradius {
	border-top-left-radius: 10px
}

table.product-specbigstripes .borderrightradius {
	border-top-right-radius: 10px
}

table.product-specbigstripes .borderbtmleftradius {
	border-bottom-left-radius: 10px
}

table.product-specbigstripes .borderbtmrightradius {
	border-bottom-right-radius: 10px
}

.greytdbg {
	background: #eaeaea
}

.bluetdbg {
	background: #eff8fe
}

.btn-file {
	position: relative;
	overflow: hidden
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	background: red;
	cursor: inherit;
	display: block
}

input[readonly] {
	background-color: #fff !important;
	cursor: text !important
}

.oopsbg {
	background-color: #2ea3f2;
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-size: 7px 7px
}

.filters .icon .fa {
	visibility: hidden
}

.filters input:checked+.icon .fa {
	visibility: visible
}

.filters input {
	display: inline\9;
	margin: 0 .2em
}

.filters label.netbankinglabel {
	cursor: pointer;
	font-weight: 700;
	font-size: 12px;
	padding-right: 10px;
	color: #333;
	width: 270px;
}

.filters label {
	cursor: pointer;
	font-weight: 700;
	font-size: 12px;
	padding-right: 10px;
	color: #333
}

.btn, .btn-link {
	font-weight: 400
}

.filters .icon {
	display: none\9;
	background: #fcf4d2;
	border: 1px solid;
	border-color: #cac3a8 #f9f0c2 #f9f0c2 #cac3a8;
	border-radius: .3em;
	text-align: center;
	font-size: .8em;
	color: #666;
	margin: 0 .1em;
	height: 1em;
	width: 1em;
	padding: .15em;
	line-height: 1.1em;
	display: none
}

.filters {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	padding: 10px;
	display: inline-block;
	width: 100%;
}

.filters li {
	display: inline;
	margin: 0;
	padding: 0;
	float: left
}

.filters, .filters:hover {
	background: #fff;
	margin-right: 1em
}

.filters {
	border-radius: 4px;
	box-shadow: 0 0 7px rgba(0, 0, 0, .15);
	border: 1px solid #d8d8d8;
	position: relative;
	top: 0;
	vertical-align: top
}

.filters:hover {
	border-radius: 4px;
	box-shadow: none;
	border: 1px solid #d8d8d8
}

.btn-danger.active, .btn-danger:active, .btn-default.active,
	.btn-default:active, .btn-info.active, .btn-info:active, .btn-primary.active,
	.btn-primary:active, .btn-success.active, .btn-success:active,
	.btn-warning.active, .btn-warning:active, .open .dropdown-toggle.btn-danger,
	.open .dropdown-toggle.btn-default, .open .dropdown-toggle.btn-info,
	.open .dropdown-toggle.btn-primary, .open .dropdown-toggle.btn-success,
	.open .dropdown-toggle.btn-warning {
	background-image: none
}

.dataTables_wrapper {
	position: relative;
	clear: both;
	zoom: 1;
	margin-top: -30px
}

.documentstop {
	margin-top: -29px
}

.aligncenter {
	float: left;
	margin-left: 43%
}

.btn {
	display: inline-block;
	padding: 3px 9px;
	margin-bottom: 0;
	font-size: 10px;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none
}

.btn:focus {
	outline: #333 dotted thin;
	outline: -webkit-focus-ring-color auto 5px;
	outline-offset: -2px
}

.btn:focus, .btn:hover {
	color: #333;
	text-decoration: none
}

.btn.active, .btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	pointer-events: none;
	cursor: not-allowed;
	opacity: .65;
	filter: alpha(opacity = 65);
	-webkit-box-shadow: none;
	box-shadow: none
}

.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc
}

.btn-default.active, .btn-default:active, .btn-default:focus,
	.btn-default:hover, .open .dropdown-toggle.btn-default {
	color: #333;
	background-color: #ebebeb;
	border-color: #adadad
}

.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled:active,
	.btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled],
	.btn-default[disabled].active, .btn-default[disabled]:active,
	.btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default,
	fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default:active,
	fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover
	{
	background-color: #fff;
	border-color: #ccc
}

.btn-primary {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd
}

.btn-primary.active, .btn-primary:active, .btn-primary:focus,
	.btn-primary:hover, .open .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #3276b1;
	border-color: #285e8e
}

.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled:active,
	.btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled],
	.btn-primary[disabled].active, .btn-primary[disabled]:active,
	.btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary,
	fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary:active,
	fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover
	{
	background-color: #428bca;
	border-color: #357ebd
}

.btn-warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236
}

.btn-warning.active, .btn-warning:active, .btn-warning:focus,
	.btn-warning:hover, .open .dropdown-toggle.btn-warning {
	color: #fff;
	background-color: #ed9c28;
	border-color: #d58512
}

.btn-warning.disabled, .btn-warning.disabled.active, .btn-warning.disabled:active,
	.btn-warning.disabled:focus, .btn-warning.disabled:hover, .btn-warning[disabled],
	.btn-warning[disabled].active, .btn-warning[disabled]:active,
	.btn-warning[disabled]:focus, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning,
	fieldset[disabled] .btn-warning.active, fieldset[disabled] .btn-warning:active,
	fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:hover
	{
	background-color: #f0ad4e;
	border-color: #eea236
}

.btn-danger {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
	text-decoration: none
}

.btn-danger.active, .btn-danger:active, .btn-danger:focus, .btn-danger:hover,
	.open .dropdown-toggle.btn-danger {
	color: #fff;
	background-color: #d2322d;
	border-color: #ac2925
}

.btn-danger.disabled, .btn-danger.disabled.active, .btn-danger.disabled:active,
	.btn-danger.disabled:focus, .btn-danger.disabled:hover, .btn-danger[disabled],
	.btn-danger[disabled].active, .btn-danger[disabled]:active, .btn-danger[disabled]:focus,
	.btn-danger[disabled]:hover, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger.active,
	fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger:focus,
	fieldset[disabled] .btn-danger:hover {
	background-color: #d9534f;
	border-color: #d43f3a
}

.btn-success {
	color: #fff;
	background: linear-gradient(60deg, #425185, #4a9b9b);
	border-color: #4cae4c
}

.btn-success.active, .btn-success:active, .btn-success:focus,
	.btn-success:hover, .open .dropdown-toggle.btn-success {
	color: #fff;
	background-color: #47a447;
	border-color: #398439
}

.btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled:active,
	.btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled],
	.btn-success[disabled].active, .btn-success[disabled]:active,
	.btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success,
	fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success:active,
	fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover
	{
	background-color: #5cb85c;
	border-color: #4cae4c
}

.btn-info {
	color: #fff;
	background: linear-gradient(60deg, #425185, #4a9b9b);
	border-color: #46b8da
}

.btn-info.active, .btn-info:active, .btn-info:focus, .btn-info:hover,
	.open .dropdown-toggle.btn-info {
	color: #fff;
	background-color: #39b3d7;
	border-color: #269abc
}

.btn-info.disabled, .btn-info.disabled.active, .btn-info.disabled:active,
	.btn-info.disabled:focus, .btn-info.disabled:hover, .btn-info[disabled],
	.btn-info[disabled].active, .btn-info[disabled]:active, .btn-info[disabled]:focus,
	.btn-info[disabled]:hover, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info.active,
	fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info:focus,
	fieldset[disabled] .btn-info:hover {
	background-color: #5bc0de;
	border-color: #46b8da
}

.btn-link {
	color: #428bca;
	cursor: pointer;
	border-radius: 0
}

.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link
	{
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none
}

.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
	border-color: transparent
}

.btn-link:focus, .btn-link:hover {
	color: #2a6496;
	text-decoration: underline;
	background-color: transparent
}

.success-new-text, .success-text {
	color: #468847;
	background-color: #dff0d8;
	text-align: center;
	list-style-type: none
}

.btn-lg {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px
}

.btn-sm, .btn-small, .btn-xs {
	line-height: 1.5;
	border-radius: 3px
}

.btn-sm, .btn-xs {
	padding: 5px 10px;
	font-size: 12px
}

.btn-small {
	padding: 5px;
	font-size: 10px
}

.btn-xs {
	padding: 1px 5px
}

.table, td, th {
	border: none;
	padding: 0;
	margin: 0
}

.table {
	border-collapse: collapse !important;
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th,
	.table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th,
	.table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th
	{
	border-top: 0
}

.success {
	padding: 0;
	border: 1px solid transparent;
	border-radius: 4px;
	width: 98%;
	margin: 0 auto 15px;
	height: 25px
}

.Staging, .error-new, .success-new {
	margin: 3px auto 0;
	line-height: 20px;
	width: 98%
}

.success-text {
	border-color: #d6e9c6;
	font-size: 14px;
	padding: 0
}

.success-new {
	padding: 0;
	border: 1px solid transparent;
	border-radius: 4px
}

.success-new-text {
	border-color: #d6e9c6;
	font-size: 12px;
	padding: 0;
	line-height: 20px
}

.error-new {
	padding: 0;
	border: 1px solid transparent;
	border-radius: 4px
}

.error-new-text {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	text-align: center;
	list-style-type: none;
	font-size: 12px;
	padding: 0;
	line-height: 20px
}

.Staging-text, .error-text {
	color: #468847;
	background-color: #dff0d8;
	list-style-type: none;
	padding: 0;
	text-align: center
}

.Staging {
	padding: 0;
	border: 1px solid transparent;
	border-radius: 4px;
	display: block
}

.Staging-text {
	border-color: #d6e9c6;
	font-size: 18px;
	font-weight: 600;
	line-height: 40px
}

.error {
	padding: 0;
	border: 1px solid transparent;
	border-radius: 4px;
	width: 98%;
	margin: 0 auto 15px;
	height: 25px
}

.pswrd_icon, .user_icon {
	width: 40px;
	height: 38px;
	position: absolute;
	float: left;
	z-index: 99999;
	display: inline-block;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px
}

.error-text {
	border-color: #d6e9c6;
	font-size: 14px
}

.pswrd_icon {
	background: url(../image/pwd-icon.png) 1px 1px no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain
}

.user_icon {
	background: url(../image/user-icon.png) 1px 1px no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain
}

.inputfieldsmall {
	display: inline-block !important;
	width: 50% !important;
	padding: 4px 7px;
	height: 25px;
	font-size: 11px;
	font-family: 'Titillium Web', sans-serif;
	line-height: 1.428571429;
	color: #555;
	margin-bottom: 5px;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow
		ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.inputfieldsmall:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6)
}

.sigNew {
	height: 140px
}

@media only screen and (max-width:1224px) {
	.sigNew {
		margin: 0 auto;
		padding: 0
	}
}

@media only screen and (max-width:740px) {
	.sigNew {
		margin: 0 auto;
		padding: 0
	}
}

@media only screen and (max-width:570px) {
	.sigNew {
		margin: 0 auto;
		padding: 0
	}
}

@media only screen and (max-width:480px) {
	.sigNew {
		margin: 0 auto;
		padding: 0;
		height: 60px
	}
}

@media only screen and (max-width:300px) {
	.sigNew {
		margin: 0 auto;
		padding: 0
	}
}

.rederror {
	color: red
}

.refreshbutton {
	border: none;
	background: url(../image/refreshicon.png) right no-repeat;
	width: 33px;
	height: 23px;
	cursor: pointer;
	display: inline
}

.accesscode {
	background: url(../image/captchabg.jpg) top no-repeat;
	margin-bottom: 5px;
	width: 110px;
	height: 30px;
	border-radius: 4px;
	text-align: center;
	border: none;
	font-family: Arial;
	font-size: 16px;
	font-weight: 700;
	color: #333;
	letter-spacing: 1px;
	padding-left: 0
}

.txnf, .txnf h2 {
	background: #fff
}

.txnf {
	border: 1px solid #e4e4e4;
	margin: 15px 0 0
}

.txnf h2 {
	padding: 5px 7px;
	margin: 0;
	font: 700 14px verdana;
	color: #fff
}

.scrollDR {
	min-width: 20%;
	min-width: 90%
}

.table98 {
	min-width: 98% !important;
	margin: 0 auto
}

.padding0 {
	padding: 0;
	margin: 0
}

@media only screen and (max-width:990px) {
	.scrollDR {
		margin: 0;
		padding: 0
	}
}

@media only screen and (max-width:777px) {
	.scrollDR {
		margin: 0;
		padding: 0
	}
}

@media only screen and (max-width:480px) {
	.scrollDR {
		margin: 0 auto;
		padding: 0;
		overflow-x: scroll;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		width: 395px;
		height: 350px
	}
}

.scrollDRM {
	width: 100%
}

@media only screen and (max-width:990px) {
	.scrollDRM {
		margin: 0;
		padding: 0
	}
}

@media only screen and (max-width:777px) {
	.scrollDRM {
		margin: 0;
		padding: 0
	}
}

@media only screen and (max-width:480px) {
	.scrollDRM {
		margin: 0 auto;
		padding: 0;
		overflow-x: scroll;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		width: 395px;
		height: 350px
	}
}

.cellborder {
	border-top: 1px solid #dedede;
	padding: 0px;
}

.nomarpadng {
	margin: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.chargingplatform {
	display: inline-block;
	width: 60px !important;
	height: 25px;
	padding: 3px 8px;
	margin: 5px 0px 6px 15px;
	font-size: 14px;
	line-height: 1.32857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.fixed_headers {
	width: 98%;
	table-layout: fixed;
	border-collapse: collapse
}

.fixed_headers td:nth-child(1), .fixed_headers th:nth-child(1) {
	min-width: 100px
}

.fixed_headers td:nth-child(2), .fixed_headers th:nth-child(2) {
	min-width: 140px
}

.fixed_headers td:nth-child(3), .fixed_headers th:nth-child(3) {
	width: 130px
}

.fixed_headers td:nth-child(4), .fixed_headers th:nth-child(4) {
	width: 200px
}

.fixed_headers td:nth-child(5), .fixed_headers th:nth-child(5) {
	width: 130px
}

.fixed_headers td:nth-child(6), .fixed_headers th:nth-child(6) {
	width: 150px
}

.fixed_headers td:nth-child(7), .fixed_headers th:nth-child(7) {
	width: 150px
}

.fixed_headers td:nth-child(8), .fixed_headers th:nth-child(8) {
	width: 150px
}

.fixed_headers thead {
	background-color: #0271bb;
	color: #fdfdfd
}

.fixed_headers thead tr {
	display: block;
	position: relative
}

.fixed_headers tbody {
	display: block;
	overflow-y: auto;
	width: 100%;
	height: 300px
}

@media only screen and (max-device-width: 600px) {
	.fixed_headers tbody {
		display: block;
		overflow-y: auto;
		width: 100%;
		height: 300px
	}
	.fixed_headers tbody tr:nth-child(even) {
		background-color: #dddddd
	}
	.fixed_headers thead {
		background-color: #0271bb;
		color: #fdfdfd;
		width: 100%;
		float: left
	}
	.fixed_headers thead tr {
		display: inline
	}
}

.old_ie_wrapper {
	height: 300px;
	width: 750px;
	overflow-x: hidden;
	overflow-y: auto
}

.old_ie_wrapper tbody {
	height: auto
}

.signupdropdwn {
	display: block;
	width: 100%;
	height: 35px;
	padding: 6px 7px;
	padding: 6px\9;
	font-size: 12px;
	font-family: 'Titillium Web', sans-serif;
	line-height: 1.428571429;
	color: #555;
	margin-bottom: 5px;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow
		ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.newButton{
background:linear-gradient(60deg, #425185, #4a9b9b);
}

.linkpayment{
 width: 174px;
 height: 34px;
}
}

