@charset "ISO-8859-1";

.leftnavigation {
	border-bottom: 1px solid #d4d4d4;
	width:105%;
	float: right;
}

.navbar-side {
	top: 0;
	bottom: 0;
	height:auto;
}

.side-menubottom {
	height: 100%;
	background-color: #58666e !important;
}

.headerImage {
	float: left;
	width: 20%;
	justify-content: center;
	align-items: center;
	display: flex;
	
}
.imagewidth{
	width:52px
	
}